.banner {
    background: rgb(160,155,240);
    background: linear-gradient(90deg, rgba(160,155,240,1) 0%, rgba(38,38,180,1) 35%, rgba(0,212,255,1) 100%);
    min-height: 150px;
    &:before {
        content: "";
        width: 300px;
        height: 150px;
        background: rgba(255,255,255,0.1);
        position: absolute;
        left: -90px;
        top: 0;
        border-radius: 6px;
        transform: skew(25deg, -12deg);
        moz-transform-origin: top left;
        transform-origin: top left;
    }
    &:after {
        content: "";
        width: 150px;
        height: 600px;
        background: rgba(255,255,255,0.15);
        position: absolute;
        left: 0px;
        top: 30px;
        border-radius: 4px;
        transform: skew(-25deg, 10deg);
        moz-transform-origin: top left;
        transform-origin: top left;
    }
}